@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<div class="text-center">
 <h2>Popular Tags</h2>
<ul>
    @foreach (var tag in Model.TagCloud)
    {
        <li>@tag.Name</li>
    }
</ul>
<h2>Latest Templates</h2>
<ul>
    @foreach (var template in Model.LatestTemplates)
    {
        <li>@template.Title</li>
    }
</ul>

<h2>Popular Templates</h2>
<ul>
    @foreach (var template in Model.PopularTemplates)
    {
        <li>@template.Title</li>
    }
</ul>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}